.grid-container {
    display: grid;

    grid-template-areas: "post-1 post-1 post-2"; 
                         "post-1 post-1 post-3";
                         "post-6 post-5 post-4";

    grid-template: repeat(3, 200px)/repeat (3);
    
}

.post {
    border: 1px solid indigo;
}

.post-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.post-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.post-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.post-4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-row-end: 4;

}

.post-5 {
    grid-row-start: 3;
    grid-row-start: 4;

}

.post-6 {
    grid-area: post-5;
}

