body {
    margin:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #b63c3c;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 30px;
}

.logo {
    color: white;
    font-size: 20px;
}

.menu {
    list-style: none;
    margin: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;

}

.menu a {
    color: white;
    text-decoration: none;

}

.menu a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(150, 153, 153);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}